<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <title>ManualJam</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <%= javascript_importmap_tags %>
    <nav class="navbar mb-2">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "stories", root_path, class: "mx-2" %>
        </div>
        <% if logged_in? %>
          <ul class="nav navbar-right ">
            <li><%= link_to "Log out", logout_path, class: "mx-2", method: :delete %></li> 
          </ul>
        <% else %>
          <ul class="nav navbar-right ">
            <li><%= link_to "Log in", sign_in_path, class: "mx-2" %></li> 
            <li><%= link_to "Sign up", sign_up_path, class: "mx-2" %></li>
          </ul>
        <% end %>
      </div>
    </nav>
  </head>
  <body>
    <main class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
